<h1><%= @weather.current_temp %>&deg;</h1>
<h2><%= @weather.current_conditions %></h2>
<ul>
	<li>Wind Speed: <%= @weather.current_wind %>mph</li>
	<li>Humidity: <%= @weather.current_humidity %></li>
</ul>