/* HOME PAGE 
========================================================= */

body {
	font-family: 'BreeSerif Regular', Arial, Helvetica, sans-serif;
}

.wrapper {
	width: 320px;
	height: 445px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}


header {
	width: 320px;
	margin: 0 auto;
	top: 0px;
}

div.logo {
	overflow: hidden;
	width: 280px;
	padding: 20px;
	margin: 0 auto;
}

form {
	overflow: hidden;
	background: -webkit-linear-gradient(top, #fff, #f8f8f8);
  	border: 1px solid #d0d2d5;
  	border-bottom: 1px solid #bebfc2;
  	border-radius: 4px;
  	padding: 10px;
  	width: 260px;
  	margin: 0 auto;
}

form ul {
	height: 100px;
}

form li {
	overflow: hidden;
}

form label {
	width: 100px;
	float: left;
	padding: 1px;
	margin: 2px 0;
}

form input {
	width: 248px;
	float: left;
}

form fieldset {
	width: 280px;
	margin: 0px 0 -10px -10px;
	padding: 10px 0;
	background: -webkit-linear-gradient(top, #ebeced, #dedfe0);
  	border: none;
  	border-top: 1px solid #d0d2d5;
  	border-radius: 0 0 4px 4px;
  	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
}

form button {
	height: 50px;
	width: 100px;
	display: inline-block;
	margin: 0 90px;
	background: -webkit-linear-gradient(top, #f29120, #f36b22);
  	border: none;
  	border-radius: 4px;
 	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.75);
  	color: #fff;
  	font-weight: bold;
  	float: left;
 	padding: 5px 10px;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}

form button:hover {
	background: -webkit-linear-gradient(top, #C0551B, #B24F19);
}

form button:active {
	background: #B24F19;
  	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.75), 0 1px 0 rgba(255, 255, 255, 0.75);
}




/* END HOME PAGE
========================================================= */


/* RESULTS PAGE 
========================================================= */

div.background {
/*	background: #047f8c;*/
}

header {

}

/* NAV BAR */

nav {
/*	position: fixed;*/
	text-align: center;
	background-color: #fffdf9;
	background-image: linear-gradient(top, #b3aba1, #767676);
	background: repeat-x;
	overflow: hidden;
}

nav ul li {
	height: 44px;
}

nav li {
	list-style: none;
	display: inline-block;
	float: left;
}

nav ol li.home {
	width: 44px;
	height: 44px;
	text-indent: -9999px;
	float: left;
}

nav ol li.home a {
	background: url(/assets/homebtn_03.png) -5px 0 no-repeat;
	width: 44px;
	height: 44px;
	text-indent: -9999px;
	float: left;
}

nav li a {
	background: #767676;
	background: linear-gradient(#b3aba1, #767676);
	border-left: 1px solid rgba(255,253,249,1);
	border-right: 1px solid rgba(255,253,249,1);
	color: #fff;
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding: 0 20px;
	line-height: 44px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
	text-transform: uppercase;
	text-decoration: none;
}

nav li:first-child a {
	border-left: none;
}

nav li:last-child a {
	border-right: none;
}

nav li.active a {
	background: -webkit-linear-gradient(top, #f29120, #f36b22);
	box-shadow: inset 0 2px 5px rgba(0,0,0,0.4);
	border-right: 1px solid rgba(0,0,0,0.2);
	color: #fff;
}

nav li a.am {

}

nav ol li {
	display: inline-block;
	float: left;

}

nav ol li.time {
	width: 276px;
	height: 44px;
}

/* END NAV BAR*/

/* DAY DESCRIPTION */

div.day_desc {
	padding-top: 5px;
}

p.desc_info {
	height: 22px;
	width: 280px;
	margin: 0px auto;
	background: rgba(160,210,241,0.6);
	color: #fffdf9;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	padding: 4px 0 0 0;
}

/* END DAY DESCRIPTION */

/* WEATHER INFO */

.weather-container {
	color: #fffdf9;
	width: 280px;
	height: 20px;
	padding: 10px 20px;
	float: left;
}

div.weather {
	width: 140px;
	float: left;
	text-align: center;
}

	div.weather p {
		line-height: 15px;
		background-color: black;
		border-radius: 6px;
	}

	div.weather p.temperature {
		line-height: 30px;
	}

/* END WEATHER INFO */

/* FORM OF TRANS */

.transport-container {
	clear: both;
	text-align: center;
}

.transport {
	background: url(/assets/frame.png) -110px 100px no-repeat;
	padding-top: 120px;
	width: 100px;
	overflow: visible;
}

.btn-left {
	background: url(/assets/chevron_left.png) 0 0 no-repeat;
	float: left;
	height: 21px;
	width: 16px;
	margin-top: 150px;
	margin-left: 50px;
	border: none;
	text-indent: -9999px;
}

.btn-right {
	background: url(/assets/chevron_right.png) 0 0 no-repeat;
	float: right;
	height: 21px;
	width: 16px;
	margin-top: 150px;
	margin-right:50px;
	border: none;
	text-indent: -9999px;
}
/* END FORM OF TRANS */

/* FOOTER */

footer {
	
	clear: both;
	height: 130px;
	width: 320px;
/*	position: absolute;
	bottom: 0px;*/
	overflow: visible;
}
	footer p {
		width: 320px;
		line-height: 10px;
		text-align: center;
		padding: 1px 0;
	}

	footer img {
		display: inline-block;
		height: 50px;
		width: 50px;
		margin: 0 27px;
		padding: 1px;
		float: left;
	}

/* END FOOTER */

.background {
	background: url(/assets/rainy.png);
	height:314;
	width: 320;
}

@font-face {
  font-family: 'BreeSerif Regular';
  src: url('../BreeSerif-Regular.otf');
  
}

.clear {
	clear: both;
}